################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KubeTestApp/v16/.suo
/.vs
/KubeTestApp/bin/Debug/net5.0
/KubeTestApp/obj
